@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@100;200;300;400;500;600;700;800;900&display=swap");

body {
  font-family: "Kumbh Sans", sans-serif;
}
.form-control {
  border-radius: 0px;
}
.form-control:active,
.form-control:focus,
.form-control:focus:active {
  outline: black !important;
  box-shadow: none;
  border-radius: 0px;
  border: 1px solid #ffbb00;
  color: #000;
}

.btn-primary {
  border-radius: 5px;
  border: 1px solid #ffbb00;
  background-color: #ffbb00;
  color: #000;
  font-size: 17px;
  font-weight: 600;
}
.btn-primary:hover {
  border-radius: 5px;
  border: 1px solid #fff;
  background-color: #000;
  color: #ffbb00;
  font-weight: 600;
}
.btn-primary:active,
.btn-primary:focus,
.btn-primary:focus:active {
  box-shadow: none;
  border-radius: 0px;
  border: 1px solid #ffbb00;
  color: #000;
  background-color: #ffbb00;
}
.top-nav {
  background-color: #ffbb007f;
}
.top-nav .navbar {
  background-color: #ffbb006f !important;
}
.top-nav .navbar h1 {
  font-size: 25px;
  font-weight: 800;
}
.top-nav .navbar span {
  font-size: 20px;
  font-weight: 500;
}
.footer {
  background-color: #282828;
  color: #fff;
  padding-top: 70px;
  padding-bottom: 70px;
}

.homepage h6 {
  font-size: 16px;
  font-weight: normal;
}
.navbar .nav-link {
  color: #000 !important;
  font-weight: 500;
}
.herosection {
  background-color: #000;
}
.herosection h1 {
  font-size: 70px;
  color: #fff;
  font-weight: 700;
}
.herosection p {
  color: #fff;
  padding-top: 10px;
}
.herosection .herosection_events {
  background-color: #ffbb00;
  color: #000;
  text-decoration: none;
  padding: 10px 40px;
  display: inline-block;
  margin-top: 20px;
}

.what_we_do {
  padding-top: 100px;
  padding-bottom: 100px;
}
.what_we_do .section_heading {
  font-weight: 500;
  font-size: 20px;
}
.what_we_do .section_desctiption {
  font-weight: 500;
  font-size: 40px;
  font-weight: 700;
  line-height: 40px;
}
.what_we_do p {
  color: #0000008f;
  padding-top: 20px;
}

.eventlist-header h1 {
  font-weight: 600;
  font-size: 35px;
  color: #000000b8;
  padding-top: 20px;
}
.eventlist-header .events_yelow {
  color: #ffbb00;
}

.eventlists img {
  height: 250px;
  width: 100%;
  object-fit: cover;
  border-radius: 5px;
}
.eventlists .card {
  border: 0px !important;
}
.eventlists .card-content a {
  color: #000;
  text-decoration: none;
}
.eventlists .card-content {
  background: #ffffff;
  position: relative;
  z-index: 2;
  margin: -80px 20px 0;
  padding: 20px;
  border-radius: 5px;
  overflow: hidden;
  border-top-width: 3px;
  border-top-style: solid;
  border-top-color: #ffbb00;
}
.eventlists .event_title {
  font-weight: 800;
}
.eventlists .event_date {
  font-size: 14px;
  font-weight: 500;
}
.eventlists .event_desc {
  margin-top: 20px;
  font-size: 14px;
  color: #0000009b;
}
.eventlists .bottom_text {
  font-size: 13px;
  margin-top: 10px;
  font-weight: 500;
  color: #0000009b;
  padding: 5px 10px;
}
.eventlists .bi {
  color: #ffbb00;
}

.signup {
  padding-top: 70px;
  padding-bottom: 70px;
}
.signup .row .col-md-7 {
  background-color: #fff;
  padding: 30px;
}
.signup h1 {
  padding: 10px 0px 10px 0px;
  margin-bottom: 20px;
  text-align: center;
  font-size: 30px;
  font-weight: 600;
  background-color: #ffbb00;
}

.signin {
  /* height: 80vh; */
  padding-top: 70px;
  padding-bottom: 70px;
}
.signin .row .col-md-6 {
  background-color: #fff;
  padding: 30px;
}
.signin h1 {
  padding: 10px 0px 10px 0px;
  margin-bottom: 20px;
  text-align: center;
  font-size: 30px;
  font-weight: 600;
  background-color: #ffbb00;
}

.page_title {
  font-size: 30px;
  text-align: center;
  font-weight: 700;
  text-decoration: underline;
  margin-bottom: 60px;
}
.registration_page_form .posted-event-list h6 {
  background-color: #ffbb00;
  padding: 20px;
  margin-top: 30px;
}

.reset_password h3 {
  padding: 10px 0px 10px 0px;
  margin-bottom: 20px;
  text-align: center;
  font-weight: 600;
  background-color: #ffbb00;
}
